.lux-header-content {
    padding-top: 20px;
}
.lux-header {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 700px;
    padding: 1.2em;
    background-color: #565656;
    color: white;
}

.lux-header .lux-avatar {
    margin: 30px 20px;
    height: 80px;
    width: 80px;
}

.lux-header .lux-avatar img {
    height: 80px;
    width: 80px;
    overflow: hidden;
    border-radius: 50%;
}

.lux-name {
    display: block;
}


@media only screen 
    and (max-device-width: 600px) 
    and (-webkit-min-device-pixel-ratio: 2), 
    screen and (max-width: 600px)  {
    .lux-header {
        flex-direction: column;
    }

    .lux-header .lux-avatar {
        margin: auto;
        margin-top: 2em;
        height: 100px;
        width: 100px;
    }

    .lux-header .lux-avatar img {
        height: 100px;
        width: 100px;
        overflow: hidden;
        border-radius: 50%;
    }

    .lux-name {
        display: block;
        text-align: center;
        padding-bottom: 20px;
    }
}

.lux-header .lux-avatar {
    display: flex;
    border: 1px solid cadetblue;
    border-radius: 50%;
}

.lux-avatar span {
    margin: auto;
}

.lux-details {
    display: block;
    flex: 1;
    padding: 15px;
}

.lux-header .lux-details .lux-name {
    font-size: 1.5rem;
    margin: 0 0 10px 0;
}

.details-item {
    display: block;
}

.rowitems {
    display: flex;
    flex-direction: row;
}

.rowitems .item {
    display: block;
    padding: 0 5px;
}