.footer {
    padding: 2em 1.2em;
    color: grey;
    max-width: 700px;
    margin: 0 auto;
}

.footer a {
    color: dimgrey;
}

@media (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {
    .footer {
        font-size: 2em;
    }
}

@media (min-device-width: 600px) {
    .footer {
        font-size: 1em;
    }
}