.career-section {
    background-color: #444141;
    color: white;
    font-size: 1em;
}

.position { 
    font-size: 1.2em;
}
.project {
    display: block;
    flex-direction: column;
    margin: 1.5em 0;
}

.project .title {
    display: block;
    font-weight: bolder;
}

.project .description {
    display: block;
    padding-top: 10px;

}