body {
    margin: 0;
    background-color: #333333;
    color: white;
    font-family: "Segoe UI",Arial,sans-serif;
}

.list {
    padding: 1.2em;
    display: flex;
    margin: 0 auto;
    max-width: 700px;
    flex-direction: column;
}

.list .list-title {
    border-left: 3px solid orange;
    padding-left: 5px;
}

.list .list-item {
    margin-top: 1.4em;
}

@media (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {
    .list .list-title {
        display: block;
        font-size: 3em;
    }

    .list .list-item {
        margin-top: 2em;
    }
}

@media (min-device-width: 600px) {
    .list-title {
        display: block;
        font-size: 1.3em;
    }
}


